## Nested Loop:
    - Loop within a loop

In [18]:
n = int(input("Enter row size: "))
m = int(input("Enter Column size: "))
for i in range(n):
    for j in range(m):
        print("{}{}".format(chr(65+i),j),end=" ")
    print()

Enter row size: 5
Enter Column size: 8
A0 A1 A2 A3 A4 A5 A6 A7
B0 B1 B2 B3 B4 B5 B6 B7
C0 C1 C2 C3 C4 C5 C6 C7
D0 D1 D2 D3 D4 D5 D6 D7
E0 E1 E2 E3 E4 E5 E6 E7

In [7]:
chr(65)

'A'

In [8]:
ord('A')

65

In [19]:
n = int(input("Enter a range: "))
for i in range(n):
    for j in range(n):
        print("*",end=" ")
    print()

Enter a range: 5
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [20]:
n = int(input("Enter a range: "))
for i in range(n):
    for j in range(i+1):
        print("*",end=" ")
    print()

Enter a range: 5
*
* *
* * *
* * * *
* * * * *

In [32]:
n = int(input("Enter a range: "))
p = 1
for i in range(n):
    for j in range(n):
        if (i==0 or j==0) or (i==n-1 or j==n-1):
            print("*",end=" ")
        else:
            print(p,end=" ")
            p+=1
    print()

Enter a range: 5
* * * * *
* 1 2 3 *
* 4 5 6 *
* 7 8 9 *
* * * * *

In [37]:
n = int(input("enter class range: "))
t = int(input("enter members range: "))
ec,oc=0,0
for i in range(n):
    for j in range(t):
        k = int(input("Enter a number: "))
        if k%2==0:
            ec +=1
        else:
            oc+=1
    print()
print("Even numbers count is: {}".format(ec))
print("Odd numbers count is: {}".format(oc))

enter class range: 2
enter members range: 3
Enter a number: 45
Enter a number: 78
Enter a number: 3

Enter a number: 12
Enter a number: 6
Enter a number: 3

Even numbers count is: 3
Odd numbers count is: 3

## Functions and its types:
    - To perform a specific Task
    - 2 types
        - builtin functions => work is fixed 
        - user defined functions => user has to decide a work
    - Syntax:
        def functioname(arguments):
            //stmnts
            return return_value

## User Defined Functions:
    - 4 types
        - with returntype and with arguments
        - with returntype and without arguments
        - without returntype and with arguments
        - without returntype and without arguments

In [43]:
# with returntype and with arguments
# Reading => Main
# Printing => Main
# Logic => Function
def pn(k):
    s = 0
    for i in range(k+1):
        s+=i
    return s

n = int(input("Enter a number: "))
print("Sum of {} range is: {}".format(n,pn(n)))

Enter a number: 10
Sum of 10 range is: 55

In [44]:
# with returntype and without arguments
# Reading => Function
# Printing => Main
# Logic => Function
def pn():
    s = 0
    n = int(input("Enter a number: "))
    print("Sum of {}".format(n),end=" ")
    for i in range(n+1):
        s+=i
    return s

print("range is: {}".format(pn()))

Enter a number: 10
Sum of 10 range is: 55

In [55]:
# without returntype and with arguments
# Reading => Main
# Printing => Function
# Logic => Function
def pn(k):
    s = 0
    for i in range(k+1):
        s+=i
    print("Sum of {} range is: {}".format(k,s))
    return 

n = int(input("Enter a number: "))
print(pn(n))

Enter a number: 10
Sum of 10 range is: 55
None

In [46]:
# without returntype and without arguments
# Reading => Function
# Printing => Function
# Logic => Function
def pn():
    s = 0
    n = int(input("Enter a number: "))
    for i in range(n+1):
        s+=i
    print("Sum of {} range is: {}".format(n,s))
    return 

pn()

Enter a number: 15
Sum of 15 range is: 120

In [54]:
import math
print(math.ceil(10.25))
print(math.factorial(5))
print(math.floor(10.25))
print(math.fabs(-52))
print(math.gcd(42,3))

11
120
10
52.0
3

## Functions argument and its types:
    - Required or positional argument
    - Default argument
    - Keyword argument and 
    - Variable-Length argument

In [57]:
# Required argument or positional argument
def prtna(k,m):
    print("Entered name is: {}".format(k))
    return

na = input("Enter a name: ")
prtna(na)

Enter a name: narendra

TypeError: prtna() missing 1 required positional argument: 'm'

In [62]:
# Default argument
def prtna(m='suresh',k):
    print("Entered name is: {} and age is: {}".format(m,k))
    return

na = input("Enter a name: ")
prtna(na)

SyntaxError: non-default argument follows default argument (<ipython-input-62-43cecdffdf6a>, line 2)

In [72]:
# Keyword argument
def prtna(m,k,sal=3500):
    print("Entered name is: {} and age is: {} and sal is: {}"
          .format(m,k,sal))
    return

# m = input("Enter a name: ")
# prtna(k,m)
prtna(m='prasad',sal=12000,k=96)

Entered name is: prasad and age is: 96 and sal is: 12000

In [73]:
def prtna(**y):
    print(y,type(y))
    return

prtna(na='suresh',sal=50000,age=25)

{'na': 'suresh', 'sal': 50000, 'age': 25} <class 'dict'>

## Variable Length argument:

In [80]:
def pt(y,*k,**q):
    print(y,type(y))
    print(k,type(k))
    print(q,type(q))
    return

pt(2,45,78,89,45,78,65,12,t=45,ed=78,n='prasad')

2 <class 'int'>
(45, 78, 89, 45, 78, 65, 12) <class 'tuple'>
{'t': 45, 'ed': 78, 'n': 'prasad'} <class 'dict'>