# Python Basics

## Variables:
    - To store a value
    - To change a value

## Data Types:
    - int => only numeric values
    - float => both numeric and decimal values
    - string => enclosed with ' or "
    - complex => real and imaginary part
    - boolean => True,False or None
    - All Data Structures [list,tuple,set and Dictionary]

In [14]:
a = 20
a

20

In [15]:
b = 30
b

30

In [19]:
a
b

30

In [20]:
a,b

(20, 30)

In [22]:
c,d = 45,78.0213,'prasad'
c,d

ValueError: too many values to unpack (expected 2)

In [23]:
c,d,j,m = 45,78.0213,'prasad'
c,d,j,m

ValueError: not enough values to unpack (expected 4, got 3)

In [24]:
d = e = g = 0
d,e,g

(0, 0, 0)

In [25]:
s,g,k,p,n = 12,45.02132,False,'Prasad','45'
print(s,g,k,p,n)

12 45.02132 False Prasad 45

## Type:
    - To Know the data type of a variable
    - Syntax:
        type(variablename)

In [26]:
t,n = '45.0213',45
print(t,type(t))
print(n,type(n))

45.0213 <class 'str'>
45 <class 'int'>

In [30]:
print(t,type(t))
t,type(t)

45.0213 <class 'str'>

('45.0213', str)

## Input method:
    - By default it stores string data type values
    - It will dislpays an info to a user
    - It will access the data from user
    - Syntax:
        input("something text to a user")

In [5]:
n = input("Enter a value: ")
print(n,type(n))

Enter a value: @
@ <class 'str'>

## TypeCasting:
    - To change the data type from one data type to another data type
    - int()
    - float()
    - str()
    - complex()
    - All Data Structures [List,Tuple,Set and Dictionary]

In [7]:
r = input("Enter First value: ")
y = input("Enter Second value: ")
print(r,type(r))
print(y,type(y))
print("Addition of two values is: ",int(r)+int(y))
print(r,type(r))
print(y,type(y))

Enter First value: 4
Enter Second value: 5
4 <class 'str'>
5 <class 'str'>
Addition of two values is:  9

In [8]:
r = int(input("Enter First value: "))
y = int(input("Enter Second value: "))
print(r,type(r))
print(y,type(y))
print("Addition of two values is: ",r+y)
print(r,type(r))
print(y,type(y))

Enter First value: 45
Enter Second value: 12
45 <class 'int'>
12 <class 'int'>
Addition of two values is:  57
45 <class 'int'>
12 <class 'int'>

## Output Formatting:
    - ,
    - %
    - .format => pyformat.info

In [10]:
n,m = int(input("Enter a value: ")),int(input("Enter b value: "))
print("Addition of",n,"and",m,"is:",n+m)

Enter a value: 4
Enter b value: 5
Addition of 4 and 5 is: 9